<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adinar.annotationsexample">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.DialogSimpleActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".dialog.DialogExamplesList"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".dialog.DialogDynamicTitleExample"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".dialog.DialogValidatorsExample"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".dialog.DialogButtonsExample"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>
</manifest>
